apiVersion: apps/v1
kind: Deployment
metadata:
  name: santa-claus-game
  namespace: santa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: santa-claus-game
  template:
    metadata:
      labels:
        app: santa-claus-game
    spec:
      containers:
      - name: santa-claus-game
        image: docker.io/bigg01/santa:latest
        imagePullPolicy: Always
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20